<tr>
  <td>
     <table align="center" cellspacing="0" cellpadding="0" border="0">
        <tr>
           <td>
              <table cellspacing="0" cellpadding="0" border="0" width="520">
                 <tr>
                    <td align="center">
                       ||image||
                    </td>
                 </tr>
                 <tr>
                    <td align="right">
                       <span class="caption" style="margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 10px; color: #777777; letter-spacing: 0.5px; font-style: italic;">
                         ||credits||
                       </span>
                    </td>
                 </tr>
              </table>
           </td>
        </tr>
     </table>
  </td>
</tr>
<tr style="height: 10px;"></tr>

