<tr>
        <td>
                <table bgcolor="#DCF3FF" width="100%">
<tr>
	<td>
		<table bgcolor="#DCF3FF" align="center" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr>
					<td>
						<table bgcolor="#DCF3FF" cellspacing="0" cellpadding="0" border="0" width="520">
							<tbody>
<tr style="height: 25px;">
<tr>
	<td align="center">
		<img alt="" height="auto" style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100;" width="100" src="https://newsletter-assets.thestar.com/brands/star/newsletters/realestate/nl_trend_icon.png" /></td>
</tr>

							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</td>
</tr>
<tr style="height: 25px;">
</tr>
<tr>
        <td align = "center">
<span class="title-bigger" style="margin:0; text-align: center; font-family: arial, helvetica, sans-serif; font-size: 25px; font-weight: 700; letter-spacing: 6px; line-height: 30px;">TRENDING</span>
||byline||
        </td>
</tr>

  </table>
</td>
</tr>

