<tr>
<td>

<table bgcolor="1b4a77">
<tr>
  <td>
     <table align="center" cellspacing="0" cellpadding="0" border="0">
        <tr>
           <td>
              <table cellspacing="0" cellpadding="0" border="0" width="520">
                 <tr>
                    <td align="center">
                       ||image||
                    </td>
                 </tr>
                 <tr>
                    <td align="right">
                       <span class="caption" style="margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 10px; color: #ffffff; letter-spacing: 0.5px; font-style: italic;">
                         ||credits||
                       </span>
                    </td>
                 </tr>
              </table>
           </td>
        </tr>
     </table>
  </td>
</tr>
<tr style="height: 15px;"></tr>
<!--title of article-->
<tr>
  <td>
     <table cellspacing="0" cellpadding="0" border="0">
        <tr>
           <td style="width: 30px;">&nbsp;</td>
           <td>
              <table cellspacing="0" cellpadding="0" border="0">
                 <tr>
                    <td>
<span class="font-bigger" style="font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px;  line-height: 24px; color: #ffffff;">
<b>
                          ||takeaway||
</b>             
          </span>
                    </td>
                 </tr>
                 <tr style="height: 15px;"></tr>
                 <tr>
                    <td>
                       <span class="font-bigger" style="font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px;  line-height: 24px; color: #ffffff;">
                          ||paragraph||
                       </span>
                    </td>
                 </tr>
              </table>
           </td>
           <td style="width: 30px;">&nbsp;</td>
        </tr>
     </table>
  </td>
</tr>
<tr>
   <td>
      <table align="center" cellspacing="0" cellpadding="0" border="0">
         <tr>
            <td>
               <table cellspacing="0" cellpadding="0" border="0" width="520">
                  <tr>
                     <td align="center">
                        ||image2||
                     </td>
                  </tr>
                  <tr>
                     <td align="right">
                        <span class="caption" style="margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 10px; color: #ffffff; letter-spacing: 0.5px; font-style: italic;">
                          ||credits2||
                        </span>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </td>
 </tr>
 <tr style="height: 15px;"></tr>
 <tr>
   <td>
      <table cellspacing="0" cellpadding="0" border="0">
         <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td>
               <table cellspacing="0" cellpadding="0" border="0">
                  
                  <tr>
                     <td>
                        <span class="font-bigger" style="font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px;  line-height: 24px; color: #ffffff;">
                           ||paragraph2||
                        </span>
                     </td>
                  </tr>
               </table>
            </td>
            <td style="width: 30px;">&nbsp;</td>
         </tr>
      </table>
   </td>
</tr>
<tr>
   <td>
      <table align="center" cellspacing="0" cellpadding="0" border="0">
         <tr>
            <td>
               <table cellspacing="0" cellpadding="0" border="0" width="520">
                  <tr>
                     <td align="center">
                        ||image3||
                     </td>
                  </tr>
                  <tr>
                     <td align="right">
                        <span class="caption" style="margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 10px; color: #ffffff; letter-spacing: 0.5px; font-style: italic;">
                          ||credits3||
                        </span>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </td>
 </tr>
 <tr style="height: 15px;"></tr>
<tr>
   <td>
      <table cellspacing="0" cellpadding="0" border="0">
         <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td>
               <table cellspacing="0" cellpadding="0" border="0">
                  
                  <tr>
                     <td>
                        <span class="font-bigger" style="font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px;  line-height: 24px; color: #333333;">
                           ||paragraph3||
                        </span>
                     </td>
                  </tr>
               </table>
            </td>
            <td style="width: 30px;">&nbsp;</td>
         </tr>
      </table>
   </td>
</tr>
<tr>
   <td>
      <table align="center" cellspacing="0" cellpadding="0" border="0">
         <tr>
            <td>
               <table cellspacing="0" cellpadding="0" border="0" width="520">
                  <tr>
                     <td align="center">
                        ||image4||
                     </td>
                  </tr>
                  <tr>
                     <td align="right">
                        <span class="caption" style="margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 10px; color: #ffffff; letter-spacing: 0.5px; font-style: italic;">
                          ||credits4||
                        </span>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </td>
 </tr>
<tr>
   <td>
      <table cellspacing="0" cellpadding="0" border="0">
         <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td>
               <table cellspacing="0" cellpadding="0" border="0">
                  
                  <tr>
                     <td>
                        <span class="font-bigger" style="font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px;  line-height: 24px; color: #333333;">
                           ||paragraph4||
                        </span>
                     </td>
                  </tr>
               </table>
            </td>
            <td style="width: 30px;">&nbsp;</td>
         </tr>
      </table>
   </td>
</tr>
<tr>

<tr>
  <td>
     <table cellspacing="0" cellpadding="0" border="0" align="center">
        <tr>
           <td>
              <table cellspacing="0" cellpadding="0" border="0" width="520" bgcolor="#f3f3f3">
                 <tr>
                    <td style="width: 30px;">&nbsp;</td>
                    <td>
                       <table cellspacing="0" cellpadding="10" border="0">
                          <tr style="height: 30px;"></tr>
                          <tr>
                             <td>
                                <span class="section-font" style="font-size: 18px; font-family: Arial, Helvetica, sans-serif; color: #0b6bbc; letter-spacing: 3px; font-weight: bold;">                      
	 WHERE TO TRY IT
                                </span>
                             </td>
                          </tr>
                          <tr style="height: 10px;"></tr>
                          <tr>
                             <td>
                                <img src="http://newsletter-assets.thestar.com.s3.amazonaws.com/brands/star/newsletters/daily_star/images/blue_line_460x1.png" alt="">
                             </td>
                          </tr>
                          <tr style="height: 20px;"></tr>
                          <tr>
                           <td>
                              <span class="font-bigger" style="font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px;  line-height: 24px; color: #333333;">
                                 ||paragraph5||
                              </span>
                           </td>
                          </tr>
                          <tr style="height: 30px;"></tr>
                       </table>
                    </td>
                    <td style="width: 30px;">&nbsp;</td>
                 </tr>
              </table>
           </td>
        </tr>
     </table>
  </td>
</tr>
</table>
</td>
</tr>

<tr style="height: 40px;"></tr>
<!--TOP STORY-->
