<tr>
  <td align="center">
    <a href="https://rs-stripe.rs-3826-a.com/stripe/redirect?cs_stripeid=41164&cs_offset=0&cs_email=%%$email%%&cs_sendid=%%$builtin.juliandate%%&cs_esp=whatcountspro" style="border: none; text-decoration: none;" target="_blank" rel="nofollow noopener">
      <img alt="" src="https://rs-stripe.rs-3826-a.com/stripe/image?cs_stripeid=41164&cs_offset=0&cs_email=%%$email%%&cs_sendid=%%$builtin.juliandate%%&cs_esp=whatcountspro" width="100%" style="max-width: 300px; height: auto; display: block;">
    </a>
  </td>
</tr>
<tr style="height:40px;"></tr>
