
<tr>
  <td>
     <table align="center" cellspacing="0" cellpadding="0" border="0">
        <tr>
           <td>
              <table cellspacing="0" cellpadding="0" border="0" width="520">
                 <tr>
                    <td align="center">
                       ||image||
                    </td>
                 </tr>
                 <tr>
                    <td align="right">
                       <span class="caption" style="margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 10px; color: #777777; letter-spacing: 0.5px; font-style: italic;">
                         ||credits||
                       </span>
                    </td>
                 </tr>
              </table>
           </td>
        </tr>
     </table>
  </td>
</tr>
<tr style="height: 15px;"></tr>
<!--title of article-->
<tr>
  <td>
     <table cellspacing="0" cellpadding="0" border="0">
        <tr>
           <td style="width: 30px;">&nbsp;</td>
           <td>
              <table cellspacing="0" cellpadding="0" border="0">
                 <tr>
                    <td>
                       <p style="margin:0; font-family: arial, helvetica, sans-serif; font-size: 12px; color: #8b8b8b; font-weight: bold; letter-spacing: 1.5px; text-transform: uppercase;">
                          ||topic||
                       </p>
                    </td>
                 </tr>
                 <tr style="height: 5px;"></tr>
                 <tr>
                    <td>
                       <h2 class="title-bigger" style="margin:0; font-family: arial, helvetica, sans-serif; font-size: 25px; font-weight: 600; letter-spacing: 1px;">
                          ||takeaway||
                       </h2>
                    </td>
                 </tr>
                 <tr style="height: 15px;"></tr>
                 <tr>
                    <td>
                       <span class="font-bigger" style="font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px;  line-height: 24px; color: #333333;">
                          ||paragraph||
                       </span>
                    </td>
                 </tr>
              </table>
           </td>
           <td style="width: 30px;">&nbsp;</td>
        </tr>
     </table>
  </td>
</tr>
<tr style="height: 40px;"></tr>
<!--rule-->
<!--crosspromo unit-->
<!--second ad-->
<!--TOP STORY-->

