
<!--TRAVEL ADS-->

<tr>
   <td>
      <table align="center" cellspacing="0" cellpadding="0" border="0">
         <tr>
            <td>
               <table cellspacing="0" cellpadding="0" border="0" width="520">
                  <tr>
                     <td align="center">
                        <a href="||url||" target="_blank">
                        <img width="580" src="||image||" alt="||imagealt||">
                        </a>
                     </td>
                  </tr>
                  <!--credits hide or remove for automation newsletter for now
                     <tr>
                        <td align="right">
                           <span class="caption" style="margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 10px; color: #777777; letter-spacing: 0.5px; font-style: italic;">
                           Credits go here/Toronto Star
                           </span>
                        </td>
                     </tr>
                     -->
               </table>
            </td>
         </tr>
      </table>
   </td>
 </tr>
 <tr style="height: 15px;"></tr>
 <tr>
   <td>
      <table cellspacing="0" cellpadding="0" border="0">
         <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td>
               <table cellspacing="0" cellpadding="0" border="0">
                  <!--subheadline-->
                  <tr>
                     <td align="center">
                        <!--p style="margin: 0 auto; max-width: 75px; border-radius: 2px; border: 1px solid var(--body-primary, #333); color: var(--body-primary, #333); font-family: Arial; font-size: 10px; font-style: normal; font-weight: 700; line-height: 14px; /* 140% */ letter-spacing: 0.5px; text-transform: uppercase; display: flex; padding: 4px; justify-content: center; align-items: center; gap: 10px;"-->
                           ||labelkicker||
                        <!--/p-->
                     </td>
                  </tr>
                  <tr style="height: 5px;"></tr>
                  <!--header-->
                  <tr>
                     <td>
                        <h2 class="title-bigger" style="margin: 15px 15px;display: flex; flex-direction: column; justify-content: center; align-self: stretch; color: var(--black, #000);text-align: center; font-family: Times New Roman; font-size: 28px ; font-style: normal; font-weight: 400; line-height: normal; text-transform: capitalize;">
                           <a class="title-bigger" style="align-self: stretch; text-decoration: none; color:  #000000; font-family: Times New Roman; font-size: 28px; font-style: normal; font-weight: 400; line-height: normal;" target="_blank" href="||url||">
                             ||headline||
                           </a>
                        </h2>
                     </td>
                  </tr>
<tr style = "height 20px;"></tr>
       ||abstract||
       <tr style="height: 15px; margin: 15px 0;"></tr>
                  <!-- read more -->
                 <tr>
    <td align="center">
        <table style="width: 100%; height: 100%;">
            <tr>
                <td align="center" valign="middle">
                    <a style="display: table; width: 100%; height: 100%; text-decoration: none;" href="||url||" target="_blank">
                        <div style="display: table-cell; vertical-align: middle;">
                            <img src="https://newsletter-assets.thestar.com/brands/star/newsletters/travel/readmore_cta_x3.png" alt="" style="display: inline-block;" width = "180" height = "auto">
                        </div>
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
 
               </table>
            </td>
            <td style="width: 30px;">&nbsp;</td>
         </tr>
      </table>
   </td>
 </tr>
 <tr style="height: 40px;"></tr>

