<!--Byline-->
<tr style="height: 15px;">&nbsp;</tr>
<tr>
   <td>
      <table cellspacing="0" cellpadding="0" border="0" align="center">
         <tr>
            <td>
               <table cellspacing="0" cellpadding="0" border="0">
                  <tr>
                     <td>
                        <!--<a href="https://www.thestar.com/authors.dundas_deborah.html" target="_blank">
                          
                        </a>-->
                        <img width="55" src="||profile_picture||" alt="||display_name||">
                     </td>
                     <td style="width: 10px;">&nbsp;</td>
                     <td>
                        <div class="font-bigger" style="font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px;  line-height: 24px; color: #333333;">
                           <span class="font-bigger" style="font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px;  line-height: 24px; color: #333333;">
                           <!--<a href="https://www.thestar.com/authors.dundas_deborah.html" target="_blank" style="text-decoration: none; color:#333333;">
                            
                           </a>-->
                           By ||display_name||
                           </span><br>
                          
                        </div>
               </table>
            </td>
         </tr>
      </table>
   </td>
</tr>
<tr style="height: 30px;">&nbsp;</tr>
<!--feature_image-->
<!--introduction-->
<tr>
   <td>
      <table width="100%" cellspacing="0" cellpadding="0" border="0">
         <tr>
            <td style="width: 30px;">&nbsp;</td>
            <td>
               <table width="100%" cellspacing="0" cellpadding="0" border="0">
                  <tr>
                     <td>
                        ||section3||
                     </td>
                  </tr>
                  
               </table>
            </td>
            <td style="width: 30px;">&nbsp;</td>
         </tr>
      </table>
   </td>
</tr>
<!--<tr style="height: 40px;"></tr>-->
<tr style="height: 25px;"></tr>
<!--SUBHEADLINE-->
