<tr>
  <td>
     <table align="center" cellspacing="0" cellpadding="0" border="0">
        <tr>
           <td>
              <table cellspacing="0" cellpadding="0" border="0" width="520">
                 <tr>
                    <td align="center">
                      ||image||
                    </td>
                 </tr>
                 <!-- credits hide or remove for automation newsletter for now -->
                 <tr>
                    <td align="right">
                       <span class="caption" style="margin: 0; font-family: 'Times New Roman', Times, serif; font-size: 12px; color: #777777; letter-spacing: 0.5px; font-style: italic;">||photocredits||</span>
                    </td>
                 </tr>
              </table>
           </td>
        </tr>
        <tr><td height="15" style="height: 15px;"></td></tr>
     </table>
  </td>
</tr>