<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="emailcolsplit" style="padding:0px 10px 0px 10px;" width="580">
  <tbody>
     <tr>
        <td bgcolor="#ffffff" height="15" style="background-color:#ffffff;font-size:1px;line-height:15px;color:#ffffff;"></td>
     </tr>
     <!--divider-->
     <tr>
        <td align="center">
           <img src="http://newsletter-assets.thestar.com.s3.amazonaws.com/brands/star/images/dividers/grey_line_550x1.png" alt="">
        </td>
     </tr>
     <!--subheading introducing more articles-->
     <tr style="height: 25px;">&nbsp;</tr>
     <tr>
        <td align="center">
           <p style="font-family: arial, helvetica, sans-serif; font-size: 24px; letter-spacing: 1px; font-weight: bold;">||subheadline||</p>
        </td>
     </tr>
     <tr style="height: 25px;">&nbsp;</tr>
  </tbody>
</table>