<!--tr style = "height: 30px;"></tr-->
<!-- JEENG 300x250 -->

<tr>
      <td align="center" >
        <a href="http://rs-stripe.rs-3826-a.com/stripe/redirect?cs_stripeid=42965&cs_offset=0&cs_email=%%$email%%&cs_sendid=%%$builtin.juliandate%%&cs_esp=whatcountspro" style="border-style: none; outline: none; text-decoration: none;" target="_blank" rel="nofollow noopener"><img class="no-resize" alt="" height="auto" src="http://rs-stripe.rs-3826-a.com/stripe/image?cs_stripeid=42965&cs_offset=0&cs_email=%%$email%%&cs_sendid=%%$builtin.juliandate%%&cs_esp=whatcountspro" width="300"></a>
      </td>
    </tr>

