<tr>
   <td>
     <table cellspacing="0" cellpadding="0" border="0" align="center" width="100%" bgcolor="#FFFFFF">
       <tr>
         <td>
           <table cellspacing="0" cellpadding="0" border="0">
             <tr>
               <td style="width: 30px;">&nbsp;</td>
               <td>
                 <table cellspacing="0" cellpadding="0" border="0">
                   <tr style="height: 10px;"></tr>
                   <tr>
                     <td>
                       <table cellspacing="0" cellpadding="0" border="0" width="520">
                         <tr>
                           <td> ||image|| </td>
                         </tr>
                         <tr>
                           <td align="right">
                             <span class="caption" style="font-family: 'Times New Roman', Times, serif; font-size: 10px; color: #777777; letter-spacing: 0.5px; font-style: italic;"> ||photocredits|| </span>
                           </td>
                         </tr>
                       </table>
                     </td>
                   </tr> ||takeaway|| ||paragraph|| <tr style="height: 30px;"></tr>
                 </table>
               </td>
               <td style="width: 30px;">&nbsp;</td>
             </tr>
           </table>
         </td>
       </tr>
     </table>
   </td>
 </tr>

