<tr>
  <td valign="top">
     <p class="font-bigger" style="margin: 3px; font-family: Arial, Helvetica, sans-serif; letter-spacing: 0.2px; font-size: 22px; font-weight: bold; line-height: 24px; color: #333333;">
        Q:
     </p>
  </td>
  <td style="width: 15px;"></td>
  <td valign="top">
     <p class="font-bigger" style="margin: 0; font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px; line-height: 24px; color: #333333;">
        ||question||
     </p>
  </td>
</tr>
<tr style="height: 15px;"></tr>
<tr>
  <td valign="top">
     <p class="font-bigger" style="margin: 3px; font-family: Arial, Helvetica, sans-serif; letter-spacing: 0.2px; font-size: 22px; font-weight: bold; line-height: 24px; color: #333333;">
        A:
     </p>
  </td>
  <td style="width: 15px;"></td>
  <td valign="top">
     <p class="font-bigger" style="margin: 0; font-family: times new roman, times, serif; letter-spacing: 0.2px; font-size: 19px; line-height: 24px; color: #333333;">
      ||answer||
     </p>
  </td>
</tr>
<tr style="height: 20px;"></tr>
<!--QUESTION SET-->